@model AbQuestion

<h3>@Model.AngryBirdQuestion Questions</h3>

<table class="table">

    <tr>

        <th>Question ID</th>
        <th>Angry Bird Question</th>
        <th>Question Rating</th>

    </tr>

    <tr>

        <td>@Model.QuestionID</td>
        <td>@Model.AngryBirdQuestion</td>
        <td>@Model.QuestionRating</td>

    </tr>

</table>