@model AbQuestion 

<h3> Question</h3>

<table class="table">

    <tr>

        <th>Question ID</th>
        <th>Angry Bird Question</th>
        <th>Question Rating</th>
        <th>Category</th>

    </tr>

    <tr>

        <td>@Model.QuestionID</td>
        <td>@Model.AngryBirdQuestion</td>
        <td>@Model.RatingID</td>
        <td>@Model.CategoryID</td>

    </tr>

    <div style="display: block">
        <a href="/Question/UpdateQuestion/@Model.QuestionID">Update This Question</a>

    </div>

</table>