@{
    ViewData["Title"] = "Home Page";
}

<style>

    body {
        background-color: grey;
    }

</style>
<div class="text-center">
    <h1 class="display-4" style="color: black">Questions that will make you wonder</h1>

    <p style="color: black">Here at True Coders, learning doesn’t stop at programming.
    To get to know our students better,
    every morning we force them to answer the most ridiculous questions we can think of.</p>
    <img src="https://cdn1.iconfinder.com/data/icons/angry-icons-by-femfoyou/501/redbird.png" alt="Angry Bird" width="400" height="375">

</div>
