<style>
    body {
        background-color: grey;
    }
</style>



@{
    ViewData["Title"] = "FAQ";
}
<h1>@ViewData["Title"]</h1>

<p>Thank you for checking out the Angry Bird Question Web App, if you have any questions or suggestions you can send an email to harrisonmrod@gmail.com or charlesdoyle002@gmail.com</p>
